#calcBox {
  border-radius: 50px;
  background-color: lightblue;
  width: 400px;
  height: 500px;
  position: relative;
  left : 400px;
  text-align: center;
}

#calcButton {
  background-color: "#d4210d";
  font-family: sans-serif;
  font-size: 20px;
  box-shadow: 10px 10px;
}

h1 {
  margin: 20px;
  padding: 10px;
  text-shadow: 2px 2px 5px;
  font-family: monospace;
  font-size: 30px;
}

p {
  margin: 5px;
}

#tipAmount {
  font-size: 25px;
  font-family: serif;
  text-shadow: 2px 2px 4px;     /* shadow effect */
  margin: 10px;
}
