
#divOne {
  background-color: green;
}

#divTwo {
  background-color: blue;
}

#divThree {
  background-color: yellow;
}

div {
  height: 100px;
  width: 200px;
  padding: 10px;
  margin: 30px;

}

input {
  margin: 10px;
}
